/.vscode
/ttp/keys*
/build
/ethereum/tmpPrivate
mainaccount.key
/clientapp/moc*
/clientapp/rcc*
/clientapp/deploy
/clientapp/linux
/awsnetdata/*/*/*/*.pem
/awsnetdata/*/*.key
/awsnetdata/*/*/*.key
/awsnetdata/*/*/*/*.key
/awsnetdata/temp*
/vendor