# A systemd script for the Nym validator's rest server and LCD. 
# Assumes the user is `nym` and the validator daemon is at `/home/nym/nymcli`.
# Change as necessary. 

[Unit]
Description=Nym Rest Server (0.9.0)

[Service]
User=nym
Type=simple
ExecStart=/home/nym/nymcli rest-server --chain-id nym-testnet
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
